<div class="ui three column centered grid margin-top-3">
  <div class="twelve wide column ui piled segment">
    <h1 class="ui header centered">About Did or Wish</h1>
    <br>
    <p class="larger-font">
      I use this app to track things that I did instead of things to do. Because when I miss things in my to do list I feel like a failure. However, with this idea of logging things I did, things I wish I would have done, and things that I shouldn't do but did, I will be able to have a better reflection on my productivity and planning. I came across this idea in <a href="http://www.amazon.com/gp/product/1401945872/" target="_blank">The Power of No</a> by <a href="http://www.jamesaltucher.com/" target="_blank">James Altucher</a>, and I just thought that it would be cool to build an app for that.
    </p>
  </div>
</div>